/* Estilos generales */
html{
  min-height: 100%;
}
body {
  font-family: "Montserrat", "sans-serif";
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-image: linear-gradient(to bottom left, black, rgb(68, 67, 67));
  order: 0;

}


.chefs{
  position: relative;
  visibility: hidden;
}
.chefs img{
  display: fixed;
  visibility: visible;
  position: fixed;
  z-index: 0;
  height: 60%;
  bottom: 0px;
  right: 0px;
  transition: all .9s ease;
}

.chefs img:hover{
  transform: scale(1.05);
}

::-webkit-scrollbar {
  display: none;
}


header {
    background-color: white;
    padding: 0px;

}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px); /* Aplica un efecto de desenfoque */
  z-index: 9999;
 
}


  
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -30px;
  

  }
.logo img{
  width: 80px;
  height: auto;
  display: inline-block;
  align-items: center;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: sandybrown;
  text-align: center;
  align-items: center;
  display: inline-block;
  text-shadow: 0px 0px 6px white ;
}


.nav-links li {
    display:inline-block;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 20px;
}

.nav-links a {

  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #f5f5f5;
  display: block;
  line-height: 80px;
  padding: 0;
  padding-right: 40px;
  position: relative;
  transition: color .15s ease-in-out;
  text-shadow: 0px 0px 6px sandybrown ;

}

.nav-links a:hover {
    color:#ec7e00;
}

#link1 {
  position: absolute;
  right: 25%;
}
#link2 {
  position: absolute;
  left: 25%;
}


.notification {
  background-image: radial-gradient(white,sandybrown);
  height: 60px;
  margin: 0;
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.notification p {
  margin: 0;
  text-align: center;
  width: 100%;
  color: black;

}

/* Estilos del pie de página */
footer {
  background-color: black;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-top: 3px;
  box-shadow: 0px -10px 50px white; 
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
}


/* menu */
.container-menu{
  min-height: 100%;
  background: inherit;
}
.menu
{
  opacity: 0.95;
  background-repeat: no-repeat;
  min-height: 100%;
  position: relative;

}


.menu-items{
    margin: 0px 150px 0px -50px;
    width: 1200px;
    min-height: 600px;
    height: auto;
    border-radius: 50px;
    background-image: radial-gradient(white,sandybrown);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}



  .menu-items img{
    width: calc(100% / 2); 
    padding-bottom: 5px;
    padding-top: 15px;
    opacity: 0.85;
    object-fit: cover;
    margin-top: 2px;
    border-radius: 100px;
    box-sizing: border-box;
  }



.menu-item h2 {
  margin: 0;
}
.menu-item{
  float: left;
  width: 40%;
  padding-right: 5px;
  margin-top: 20px;
}

.menu-items::after {
    content: "";
    clear: both;
    display: table;
}

.buttons{
  padding: 40px;
  display: flex;
  justify-content: center;
}

.filter-button {
  margin: 0 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 100px;
  text-shadow: 0 0 3px sandybrown;
  height: 55px;
  width: 130px;
  transition: all .9s ease;
  box-shadow: 5px 5px sandybrown
  
}

.filter-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}


/*Filters*/
.container-menu {
  position: relative;
  height: auto;
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px; 
  min-height: 100%;
  border-right: 5px solid sandybrown;
  background-color: inherit;
  box-shadow: 2px 0px 5px white;

}


.menu {
  margin-left: 200px;
  align-items: center;
  text-align: center;
  
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;

}
.menu-content h2{
  margin-right: 170px;
}
.menu h2{

  color: white;
  text-shadow: 0px 0px 5px sandybrown;
}
.menu-item{
  border-radius: 20px;
}

.filters{
  margin: 30px 0px 150px 0px;
  width: 170px;
  padding-top: 300px;
}

input[type=text] {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 5px 5px sandybrown;
  height: 20px;
}

.filtro-label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px sandybrown;
}

.filters {
  margin: 10px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.filter-input {
  margin: 10px;
}



